---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { sanity } from '../lib/sanity';

const information = await sanity.getInformation("saliougaye");
const cv = await sanity.getCv(information.id);

---

<!-- TODO fetch from CMS -->
<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    {cv.profile}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    {
      cv.educations.map(el => (
        <TimeLineElement
          title={el.title}
          subtitle={`${el.startedAt} to ${el.endedAt ?? 'now'} at ${el.place}, ${el.city}`}
          key={el.key}
        >
        {el.description}
        </TimeLineElement>
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    {
      cv.experiences.map(el => (
      <TimeLineElement
          title={el.title}
          subtitle={`From ${el.startedAt} to ${el.endedAt ?? 'now'} at ${el.company}, ${el.city}`}
          key={el.key}
        >
        {el.description}
        </TimeLineElement>
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {
      cv.certifications.map(el => (
      <li>
        <a href={el.link ?? '#'} target="_blank">{el.name}</a>
      </li>
      ))
    }
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    {
      cv.skills.map(el => (
      <li>{el}</li>
      ))
    }
  </ul>
</BaseLayout>
